* {
  margin: 0;
}

ul {
  list-style-type: none;
}
.main-app-div {}

.main-nav-bar-div {
  text-align: center;
}

.main-input-div {
  text-align: center;
}

.main-to-do-div {
  float: left;
  padding-left: 5vw;
}

.main-completed-div {
  float: right;
  padding-right: 5vw;
}
